.root {
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.slider {
    -fx-padding: 10px;
}
